body{
  background: white;
  text-align: center;
}
.container{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 20px  rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

h1{
  font-size: xx-large;
  text-align: center;
  color: black;
}

label{
  font-size: 12px;
  display: block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: left;
  color: #222;
  font-weight: bold;
}

input{
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid #3a58df;
  border-radius: 10px;
  font-size: 12px;
}

textarea{
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid #3a58df;
  border-radius: 10px;
  font-size: 12px;
  min-height: 100px;
  max-height: 150px;
}

button{
  padding: 10px 15px;
  border-radius: 10px;
  margin: 15px;
  border: none;
  color: white;
  background-color: blue;
  width: 30%;
  font-size: 15px;
}